* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.wrapper {
  z-index: -1;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 79px;
  background-color: #02160b
}

.background {
  background-color: #02160b;
  width: 100%;
  max-width: 1440px;
  height: 780px;
}

.header {
  display: flex;
  justify-content: space-around;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
}

.header__logo {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__list{
  width:481px;
  display: flex;
  justify-content: space-around;
}

.menu__links {
  text-decoration: none;
}

button {
  height: 50px;
  width: 120px;
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  border: 2px solid #8b00ff;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: Transparent;
  color: white;      
}

a {
  color: rgba(247, 247, 247, 1);
}

.menu__items:hover {
  transform: translateY(-5px);
}

.menu__links1:hover {
  transform: translateY(-5px);
}

.menu__links1 {
  text-decoration: none;
}

.survival {
  display: flex;
  align-items: flex-end;
  height:460px;
  width: 395px;
  justify-content: flex-end;
}

.survival-text {
  width: 275px;
  height: 340px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  text-align: left;
  width: 199px;
  height: 72px;
  color: rgba(139, 0, 255, 1);
  display: flex;
}

.h1 {
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 2px;
  color: rgba(205, 99, 38, 1);
}

.regular {
  display: flex;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justify;
  color:rgba(247, 247, 247, 1);
  width: 274px;
  height: 108px;
}

.Donate {
  display: flex;
  width: 160px;
  height: 60px;
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(247, 247, 247, 1);
}

.Donate1 {
  background: rgba(139, 0, 255, 1);
  border-radius: 5%;
  width: 160px;
  height: 60px;
  -webkit-transition: 500ms ease;
}

.Donate1:hover {
  transition: 500ms;
  transform: scale(1.2,1.2);
}